<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHK Community Chest</title>
    <link rel="stylesheet" href="/site.css">
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="/favicon-64x64.png" sizes="64x64">
</head>

<body>
    <header>
      <nav>
        <div class="logo">
          <h1>MHK Community Chest</h1>
        </div>

        <div class="nav-links">
          <% if (locals.user) { %>
            <span>Welcome, <%= user.name %></span>
            <a href="/">Home</a>
            <% if (user.admin == 1) { %>
              <a href="/users">Manage Users</a>
              <a href="/box-locations/new">Add Box</a>
            <% } %>

            <a href="/logout">Logout</a>

          <% } else { %>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
          <% } %>
        </div>
      </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <script src="/site.js"></script>
</body>

</html>

