<h2>New Box Location</h2>

<form action="/box-locations/new" method="POST">

  <label for="name">Name:</label>
  <input type="text" id="email" name="name" required></input>

  <label for="latitude">Latitude:</label>
  <input type="text" id="email" name="latitude" required></input>

  <label for="longitude">Longitude:</label>
  <input type="text" id="password" name="longitude" required></input>
  
  <button type="submit">Create</button>
  
</form>